body {
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: "Mukta", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(portfolio-bg-img.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header-container {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 17.65%;
  height: 100vh;
}

.nav {
  color: white;
  text-decoration: none;
}

.nav:hover {
  color: #667e82;
}

.current {
  font-size: 1.5em;
  color: #667e82;
  text-decoration: underline;
}

.project-container {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.div-row-one {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2em auto 0 auto;
  padding: 0;
}
.div-row-two {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2em auto 3em auto;
  padding: 0;
}

.project-div {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding: 0;
}

.project-div > img {
  min-width: 100%;
  margin: 0;
}

.project-div > p,
.project-div > h3,
.project-div > a {
  background-color: white;
  color: black;
  margin: 0;
}
.project-div > p {
  background-color: white;
  color: black;
}
.project-div > p > a {
  text-decoration: none;
  margin: 0;
  color: #667e82;
  min-width: 100%;
}
@media (max-width: 700px) {
  .main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 100vh;
  }

  .header-container {
    background-color: black;
    position: sticky;
    width: 100%;
    height: 7%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 2em;
  }

  .project-container {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
  }

  .div-row-one {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
  }
  .div-row-two {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
  }

  .project-div {
    width: 50%;
    margin: 2em auto;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 500px) {
  .project-div {
    width: 75%;
  }
}
