body,
html {
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: "Mukta", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(portfolio-bg-img.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.portfolio-img {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  filter: brightness(100%);
  box-shadow: 10px 10px 10px black;
}

.body-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  text-align: center;
}

.header-container {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  height: 100vh;
}

.hamburger {
  margin: 1em;
  background-color: black;
  border: none;
  color: white;
  font-size: 1.5em;
}

.nav {
  color: white;
  text-decoration: none;
}

.nav:hover {
  color: #667e82;
}

.social {
  text-decoration: none;
  color: white;
  padding: 0em 1em 0em 1em;
}

.hidden {
  display: none;
}

.about-text {
  padding: 0 1em;
}

.current {
  font-size: 1.5em;
  color: #667e82;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 100%;
  }

  .header-container {
    background-color: black;
    width: 100%;
    height: 7%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 2em;
  }

  .resume-container {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .about-text {
    padding: 0 0.2em;
  }
}

.resume-container {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  text-align: center;
  margin: auto;
  border: 3px solid black;
  background-color: lightgray;
  color: black;
  font-size: 1em;
}

.resume-education-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1em 2em;
}

.resume-work-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1em 2em;
}

.resume-skills-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1em 2em;
}

li {
  list-style-type: circle;
  text-align: left;
}

.resume-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.resume-button {
  font-size: 1em;
  width: 100%;
  border: none;
  padding: 1em 2em;
  background-color: black;
  opacity: 0.8;
  color: white;
}

.resume-button:hover {
  color: white;
  opacity: 0.4;
  background-color: black;
}

.resume-button-style {
  color: #667e82;
  text-decoration: underline;
}
.slideshow-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.back-button,
.forward-button {
  font-size: 2em;
  border: none;
  color: black;
  background-color: lightgray;
  cursor: pointer;
  justify-content: space-between;
}

.back-button:hover,
.forward-button:hover {
  background-color: black;
  color: white;
}
.hidden {
  display: none;
}
